@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-300 p-1;
  }
}

@layer components {
  .menu-active {
    @apply block rounded-md bg-sky-800 px-4 py-2 text-sm font-medium text-white;
  }
  .menu-inactive {
    @apply block rounded-md px-2 py-2 text-sm font-medium text-stone-900 hover:bg-sky-300;
  }
  .menu-m-active {
    @apply block rounded-md bg-sky-800 px-4 py-2 text-sm font-medium text-white;
  }

  .menu-m-inactive {
    @apply block rounded-md px-2 py-2 text-sm font-medium text-stone-900 hover:bg-sky-300;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }
  /* ::-webkit-scrollbar {
    width: 0px;
  } */
}

.activeClassName {
  background-color: red;
}

.active1 {
  background-color: red;
}

.nonactive1 {
  background-color: yellow;
}

.max-w-mobile {
  max-width: 12rem;
}

.h-hero {
  height: 31.25rem;
}

.p-datepicker {
  padding: 0px 0px;
}

@media (min-width: 1024px) {
  .lg\:px-faq {
    padding-left: 30rem;
    padding-right: 30rem;
  }
}
